<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Pad</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-zinc-900 text-white min-h-screen flex flex-col items-center p-6"
  >
    <h1 class="text-red-400 text-center text-4xl font-bold mb-6">
      Welcome to Your Note Pad
    </h1>

    <form class="w-full max-w-lg" action="/note/create" method="post">
      <div>
        <label for="title" class="block text-lg mb-1">Title</label>
        <input
          type="text"
          placeholder="Enter your title"
          name="title"
          id="title"
          class="border-white border-2 rounded-md w-full p-3 bg-zinc-800 text-white"
        />
      </div>

      <div class="mt-4">
        <label for="content" class="block text-lg mb-1">Your Notes</label>
        <textarea
          placeholder="What is on your mind..."
          name="content"
          id="content"
          class="border-white border-2 w-full p-3 rounded-md bg-zinc-800 text-white resize-none h-40"
        ></textarea>
      </div>

      <button
        type="submit"
        class="mt-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded w-full"
      >
        Post
      </button>
    </form>

    <div
      class="w-full h-full flex gap-3 flex-wrap bg-transparent rounded-md border-2 border-zinc-700 p-5 m-10"
    >
      <% if (notes.length > 0) {%> <% notes.forEach((note)=>{ %>
        <div class="w-72 bg-zinc-700 rounded-[20px] p-5 flex flex-col">
          <h1 class="text-2xl font-bold truncate"><%= note.title %></h1>
          
          <div class="w-full flex-grow overflow-auto bg-zinc-800 p-2 rounded-md mt-2">
            <p class="text-white text-sm break-words"><%= note.content %></p>
          </div>
        
          <div class="flex justify-between items-center mt-2">
            <a href="/edit/<%=note._id%>" class="text-blue-400">Edit</a>
            <a href="/note/delete/<%=note._id%>" class="text-red-400">Delete</a>
          </div>
        </div>
        
      <% })%>
      <%}else{%>
      <h3 class="text-zinc-600 text-[12px]">No notes Found</h3>
      <%}%>
    </div>
  </body>
</html>
